<?xml version="1.0"?>

<model>
  <name>Dog</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>
  <description>
    An Australian Cattle Dog model available from https://free3d.com/3d-model/australian-cattle-dog-v1--993323.html
  </description>
  <author>
    <name>Micho Radovnikovich</name>
  </author>
</model>
