<?xml version="1.0"?>

<model>
  <name>Stop Sign</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>
  <description>
    An American stop sign. Texture based on https://app.gazebosim.org/OpenRobotics/fuel/models/Stop%20Sign
  </description>
  <author>
    <name>Micho Radovnikovich</name>
  </author>
</model>
