<?xml version="1.0"?>

<model>
  <name>traffic_light</name>
  <version>1.0</version>
  <description>
    Traffic light that uses a corresponding plugin to program color sequences
  </description>
  <sdf version="1.11">model.sdf</sdf>
  <author>
    <name>Micho Radovnikovich</name>
  </author>
</model>
